.track-container {
    border-color: whitesmoke;
    border-style: solid;
    background-color: #FF9533;
    width: 1000px;
}

.trackDiv {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: black;
    border-style: solid;
    background-color: white;
    width: 750px;
}

.infoDiv {
    position: absolute;
    margin-left: 175px;
    color: black;
}

a {
    text-decoration: none;
    color: black; 
}
